.WeatherForecast {
    text-align: center;
    position: relative;
    top: -80px;
  

}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}

.WeatherForecast .forecast-spacing {
    padding: 0px 50px;
}